/* 注册 */
#Register {}
/* 左侧菜单样式 */
.el-submenu__title{
  font-size: 16px;
}
.el-menu-item{
  font-size: 16px;
}
#SideBar .sideMenus > li {
  background: #EFF3F8 !important;
  border-bottom: 1px solid #E3E3E3;
}
#SideBar .sideMenus > li span{
  margin-left: 10px;
}
#SideBar .sideMenus > li.is-opened > .el-submenu__title{
  box-shadow: -1px 2px 2px rgba(0,0,0,.3);
  z-index: 1;
}
#SideBar .sideMenus > li.is-active > .el-submenu__title{
  color: #007BFF !important;
}
#SideBar .sideMenus > li.is-active > .el-submenu__title i{
  color: #007BFF !important;
}
#SideBar .sideMenus > li.MenuItem {
  padding: 0 30px !important;
}
#SideBar .sideMenus li > .el-submenu__title{
  background: #EFF3F8 !important;
  padding: 0 30px !important;
}
#SideBar .sideMenus li > .el-submenu__title span{
  margin-left: 10px;
}
#SideBar .sideMenus li > .el-menu > li{
  background: #E3E3E3 !important;
  text-align: center;
  padding: 0 40px;
}
#SideBar .sideMenus li > .el-menu > li.is-active{
  border-left: 6px solid #62AEFF;
}

/* 帮助中心*/
#HelpCenterList{
  .searchInput{
    /*height: 100%;*/
    font-size: 16px;
  }
  .searchInput .el-input-group__append{
    background: #62AEFF;
    width: 90px;
    padding: 0;
    text-align: center;
    border: 0;
  }
  .searchInput .el-input-group__append .el-button{
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
  }
  .searchIcon i{
    color: #fff !important;
    font-size: 26px !important;
    height: 100%;
  }
  img{
    width: 80%;
  }
}

/* 操作日志 */
#OperationLogs{
  .timerPick{
    width: 125px !important;
  }
  .timerPick .el-input__inner{
    width: 125px;
    height: 30px;
    padding: 0 25px !important;
  }
  .timerPick > span.el-input__prefix{
    left: 0;
  }
  .timerPick span.el-input__prefix > i{
    line-height: 30px !important;
  }
  .timerPick span.el-input__suffix{
    right: 0;
    text-align: right;
  }
  .timerPick span.el-input__suffix i{
    line-height: 30px !important;
  }
  .searchInput{
    font-size: 14px;
  }
  .searchInput .el-input__inner{
    height: 38px;
    border: 1px solid #E3E3E3;
    border-radius: 0;
  }
  .searchInput .el-input-group__append{
    background: #E3E3E3;
    width: 45px;
    padding: 0;
    text-align: center;
    border: 0;
    border-radius: 0;
  }
  .searchInput .el-input-group__append .el-button{
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
  }
  .searchIcon i{
    color: #666 !important;
    font-size: 24px !important;
    height: 100%;
  }
}

/* 我的资产 */
#MyAsset{
  .el-tabs__item{
    height: 55px;
    line-height: 55px;
    font-size: 16px;
  }
  .el-tabs__nav-wrap::after{
    height: 2px;
  }
}

/* 订单及购买 */
#OrderBuy{
  .el-tabs__item{
    height: 55px;
    line-height: 55px;
    font-size: 16px;
  }
  .el-tabs__nav-wrap::after{
    height: 2px;
  }
}

/* 当前服务 */
#CurrentService{
  .el-progress-circle{
    width: 200px !important;
    height: 200px !important;
  }
}

/* 激励对象 */
#EncourageObject{
  .el-tabs__item{
    height: 55px;
    line-height: 55px;
    font-size: 16px;
  }
  .el-tabs__nav-wrap::after{
    height: 2px;
  }
}

/* 激励对象名称 */
#EncourageObjectName{
  .searchInput{
    font-size: 14px;
  }
  .searchInput .el-input__inner{
    height: 38px;
    border: 1px solid #E3E3E3;
    border-radius: 0;
  }
  .searchInput .el-input-group__append{
    background: #E3E3E3;
    width: 45px;
    padding: 0;
    text-align: center;
    border: 0;
    border-radius: 0;
  }
  .searchInput .el-input-group__append .el-button{
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
  }
  .searchIcon i{
    color: #666 !important;
    font-size: 24px !important;
    height: 100%;
  }
}

/* 持股平台 */
#StockHoldPlatform{
  .searchInput{
    font-size: 14px;
  }
  .searchInput .el-input__inner{
    height: 38px;
    border: 1px solid #E3E3E3;
    border-radius: 0;
  }
  .searchInput .el-input-group__append{
    background: #E3E3E3;
    width: 45px;
    padding: 0;
    text-align: center;
    border: 0;
    border-radius: 0;
  }
  .searchInput .el-input-group__append .el-button{
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
  }
  .searchIcon i{
    color: #666 !important;
    font-size: 24px !important;
    height: 100%;
  }
}

/* 资料库 */
#DataBase{
  .el-tabs__item{
    height: 55px;
    line-height: 55px;
    font-size: 16px;
  }
  .el-tabs__nav-wrap::after{
    height: 2px;
  }
}

/* 激励计划 */
#EncouragePlan{
  .searchInput{
    font-size: 14px;
  }
  .searchInput .el-input__inner{
    height: 38px;
    border: 1px solid #E3E3E3;
    border-radius: 0;
  }
  .searchInput .el-input-group__append{
    background: #E3E3E3;
    width: 45px;
    padding: 0;
    text-align: center;
    border: 0;
    border-radius: 0;
  }
  .searchInput .el-input-group__append .el-button{
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
  }
  .searchIcon i{
    color: #666 !important;
    font-size: 24px !important;
    height: 100%;
  }
}

/* 授予协议 */
#GrantProtocol{
  .searchInput{
    font-size: 14px;
  }
  .searchInput .el-input__inner{
    height: 38px;
    border: 1px solid #E3E3E3;
    border-radius: 0;
  }
  .searchInput .el-input-group__append{
    background: #E3E3E3;
    width: 45px;
    padding: 0;
    text-align: center;
    border: 0;
    border-radius: 0;
  }
  .searchInput .el-input-group__append .el-button{
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
  }
  .searchIcon i{
    color: #666 !important;
    font-size: 24px !important;
    height: 100%;
  }
}

/* 模板文档 */
#TemplateDoc{
  .searchInput{
    font-size: 14px;
  }
  .searchInput .el-input__inner{
    height: 38px;
    border: 1px solid #E3E3E3;
    border-radius: 0;
  }
  .searchInput .el-input-group__append{
    background: #E3E3E3;
    width: 45px;
    padding: 0;
    text-align: center;
    border: 0;
    border-radius: 0;
  }
  .searchInput .el-input-group__append .el-button{
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
  }
  .searchIcon i{
    color: #666 !important;
    font-size: 24px !important;
    height: 100%;
  }
}

/* 成熟计划模板 */
#MaturePlanTemplate{
  .searchInput{
    font-size: 14px;
  }
  .searchInput .el-input__inner{
    height: 38px;
    border: 1px solid #E3E3E3;
    border-radius: 0;
  }
  .searchInput .el-input-group__append{
    background: #E3E3E3;
    width: 45px;
    padding: 0;
    text-align: center;
    border: 0;
    border-radius: 0;
  }
  .searchInput .el-input-group__append .el-button{
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
  }
  .searchIcon i{
    color: #666 !important;
    font-size: 24px !important;
    height: 100%;
  }
}

/* 解限计划模板 */
#NolimitPlanTemplate{
  .searchInput{
    font-size: 14px;
  }
  .searchInput .el-input__inner{
    height: 38px;
    border: 1px solid #E3E3E3;
    border-radius: 0;
  }
  .searchInput .el-input-group__append{
    background: #E3E3E3;
    width: 45px;
    padding: 0;
    text-align: center;
    border: 0;
    border-radius: 0;
  }
  .searchInput .el-input-group__append .el-button{
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
  }
  .searchIcon i{
    color: #666 !important;
    font-size: 24px !important;
    height: 100%;
  }
}

/* 新建解限计划弹窗 */
#NewNoLimitPlan{
  .el-radio__label{
    font-size: 16px;
  }
}

/* 公司信息 */
#CompanyInfo{
  .el-tabs__item{
    height: 55px;
    line-height: 55px;
    font-size: 16px;
  }
  .el-tabs__nav-wrap::after{
    height: 2px;
  }
}

/* 股权 */
#StockManagement{
  .el-tabs__item{
    height: 55px;
    line-height: 55px;
    font-size: 16px;
  }
  .el-tabs__nav-wrap::after{
    height: 2px;
  }
}

/* 分红股 */
#ShareStock{
  .searchInput{
    font-size: 14px;
  }
  .searchInput .el-input__inner{
    height: 38px;
    border: 1px solid #E3E3E3;
    border-radius: 0;
  }
  .searchInput .el-input-group__append{
    background: #E3E3E3;
    width: 45px;
    padding: 0;
    text-align: center;
    border: 0;
    border-radius: 0;
  }
  .searchInput .el-input-group__append .el-button{
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
  }
  .searchIcon i{
    color: #666 !important;
    font-size: 24px !important;
    height: 100%;
  }
}

/* 新建股权激励计划步骤 */
#NewStockPlanSteps{
  .el-radio__label{
    font-size: 16px;
  }
}

/* 授予 */
#SetGrant{
  .el-input__inner{
    height: 32px;
    border: 1px solid #c5c5c5;
    border-radius: 0px;
  }
  .el-input__icon{
    line-height: 30px;
  }
}



@media screen and (max-width: 1366px) {
  /* 注册页面 */
  #Register .el-input__inner {
    height: 37px;
    border: 1px solid #c5c5c5;
    font-size: 12px;
    color: #000;
  }

  /* 左侧菜单样式 */
  .el-submenu__title{
    font-size: 14px;
  }
  .el-menu-item{
    font-size: 14px;
  }
  #SideBar .sideMenus li > .el-menu > li.is-active{
    border-left: 3px solid #62AEFF;
  }

  /* 帮助中心*/
  #HelpCenterList{
    .searchInput{
      font-size: 14px;
    }
    .searchInput .el-input-group__append{
      width: 70px;
      height: 35px !important;
    }
    .searchInput .el-input-group__append .el-button{
      padding: 0;
    }
    .searchIcon i{
      font-size: 16px !important;
    }
  }

  /* 操作日志 */
  #OperationLogs{
    .searchInput{
      font-size: 12px;
    }
    .searchInput .el-input__inner{
      height: 35px;
    }
    .searchIcon i{
      font-size: 18px !important;
    }
  }

  /* 我的资产 */
  #MyAsset{
    .el-tabs__item{
      height: 40px;
      line-height: 40px;
      font-size: 14px;
    }
    .el-tabs__nav-wrap::after{
      height: 1px;
    }
  }

  /* 订单及购买 */
  #OrderBuy{
    .el-tabs__item{
      height: 40px;
      line-height: 40px;
      font-size: 14px;
    }
    .el-tabs__nav-wrap::after{
      height: 1px;
    }
  }

  /* 当前服务 */
  #CurrentService{
    .el-progress-circle{
      width: 150px !important;
      height: 150px !important;
    }
  }

  /* 激励对象 */
  #EncourageObject{
    .el-tabs__item{
      height: 40px;
      line-height: 40px;
      font-size: 14px;
    }
    .el-tabs__nav-wrap::after{
      height: 1px;
    }
  }
}

/* 激励对象名称 */
#EncourageObjectName{
  .searchInput{
    font-size: 12px;
  }
  .searchInput .el-input__inner{
    height: 35px;
  }
  .searchIcon i{
    font-size: 18px !important;
  }
}

/* 持股平台 */
#StockHoldPlatform{
  .searchInput{
    font-size: 12px;
  }
  .searchInput .el-input__inner{
    height: 35px;
  }
  .searchIcon i{
    font-size: 18px !important;
  }
}

/* 资料库 */
#DataBase{
  .el-tabs__item{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
  .el-tabs__nav-wrap::after{
    height: 1px;
  }
}

/* 激励计划 */
#EncouragePlan{
  .searchInput{
    font-size: 12px;
  }
  .searchInput .el-input__inner{
    height: 35px;
  }
  .searchIcon i{
    font-size: 18px !important;
  }
}

/* 授予协议 */
#GrantProtocol{
  .searchInput{
    font-size: 12px;
  }
  .searchInput .el-input__inner{
    height: 35px;
  }
  .searchIcon i{
    font-size: 18px !important;
  }
}

/* 模板文档 */
#TemplateDoc{
  .searchInput{
    font-size: 12px;
  }
  .searchInput .el-input__inner{
    height: 35px;
  }
  .searchIcon i{
    font-size: 18px !important;
  }
}

/* 成熟计划模板 */
#MaturePlanTemplate{
  .searchInput{
    font-size: 12px;
  }
  .searchInput .el-input__inner{
    height: 35px;
  }
  .searchIcon i{
    font-size: 18px !important;
  }
}

/* 解限计划模板 */
#NolimitPlanTemplate{
  .searchInput{
    font-size: 12px;
  }
  .searchInput .el-input__inner{
    height: 35px;
  }
  .searchIcon i{
    font-size: 18px !important;
  }
}

/* 新建解限计划弹窗 */
#NewNoLimitPlan{
  .el-radio__label{
    font-size: 14px;
  }
}

/* 公司信息 */
#CompanyInfo{
  .el-tabs__item{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
  .el-tabs__nav-wrap::after{
    height: 1px;
  }
}

/* 股权 */
#StockManagement{
  .el-tabs__item{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
  .el-tabs__nav-wrap::after{
    height: 1px;
  }
}

/* 分红股 */
#ShareStock{
  .searchInput{
    font-size: 12px;
  }
  .searchInput .el-input__inner{
    height: 35px;
  }
  .searchIcon i{
    font-size: 18px !important;
  }
}

/* 新建股权激励计划步骤 */
#NewStockPlanSteps{
  .el-radio__label{
    font-size: 14px;
  }
}

/* 授予 */
#SetGrant{
  .el-input__inner{
    height: 27px;
    border: 1px solid #c5c5c5;
    border-radius: 0px;
  }
  .el-input__icon{
    line-height: 27px;
  }
}





// 分页插件
.el-pagination .btn-next, .el-pagination .btn-prev{
  border: 1px solid #d1dbe5;
}
.el-pagination .btn-prev{
  border-right: 0;
}
.el-pager li{
  border: 1px solid #d1dbe5;
  border-right: 0;
  min-width: 30px;
  font-weight: 400;
}
.el-pager li.active{
  background: #62AEFF;
  color: #fff;
}

// tabs去掉overflow:hidden
.el-tabs{
  height: 100%;
  .el-tabs__content{
    overflow: visible;
  }
}
